%form{:action => "https://argentina.dineromail.com/Shop/Shop_Ingreso.asp", :method => "post"}
	%input{:name => "NombreItem", :type => "hidden", :value => "Test"}
	%input{:name => "TipoMoneda", :type => "hidden", :value => "1"}
	%input{:name => "PrecioItem", :type => "hidden", :value => "100.00"}
	%input{:name => "E_Comercio", :type => "hidden", :value => "678467"}
	%input{:name => "NroItem", :type => "hidden", :value => "1"}
	%input{:name => "image_url", :type => "hidden", :value => "http://"}
	%input{:name => "DireccionExito", :type => "hidden", :value => "http://"}
	%input{:name => "DireccionFracaso", :type => "hidden", :value => "http://"}
	%input{:name => "DireccionEnvio", :type => "hidden", :value => "1"}
	%input{:name => "Mensaje", :type => "hidden", :value => "1"}
	%input{:name => "MediosPago", :type => "hidden", :value => "4,5,6,14,15,16,17,18,13"}
	%input{:alt => "Pagar con DineroMail", :border => "0", :name => "submit", :src => "https://argentina.dineromail.com/imagenes/botones/pagar-medios_c.gif", :type => "image"}